.el-button--medium{
    padding:8px 20px !important;
}
.el-button--info{
    background-color: #fff !important;
    color: #000 !important;
}
.el-button--success{
    background-color: #3769BE !important;
    border-color: #3769BE !important;
}