.el-main{
    line-height: 37px !important;
    display: flex !important;
    padding:12px !important;
}
.el-header{
    height: 48px !important;
    line-height: 48px !important;
}
.el-aside{
    background-color: #1D46A7 !important;
}