@import '../style/elementui/el_table.scss';
@import '../style/elementui/el_container.scss';
@import '../style/elementui/el_input.scss';
@import '../style/elementui/el_button.scss';
@import '../style/elementui/el_menu.scss';
@import '../style/elementui/el_form.scss';
@import '../style/elementui/el_dialog.scss';

// 模糊处理的css
.allblur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    zoom: 1;
  }
